<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wiki Crawler App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container border" style="margin-top: 10px">
    <div class="card" style="margin: 10px">
        <div class="card-header" style="background-color: #d9edf7">
            Wiki Crawler App
        </div>
        <div class="card-body">
            <h5 class="card-title">Page does not Exist</h5>
            <p><a href="/submissions" id="submitNewRequest">Click here</a> to submit new request.</p>
        </div>
    </div>
</div>
</body>
</html>